;<?php
;die(); // For further security
;/*
[globals]

; PROJECT SETTINGS
websiteName = "ModVault"
defaultModule = "discover"
defaultTemplate = "templates/main"

basePath = "/"

; DATABASE SETUP
db_host = "localhost"
db_username = ""
db_password = ""
db_database = ""

DEBUG=3
UI=app/modules/
AUTOLOAD=app/|app/application/vendor/grumpypdo/
TEMP=app/application/tmp/
;*/
