<set game_exists="{{ !empty(@game->Data) }}" />
<div class="d-flex align-items-center justify-content-center">

    <form method="POST" enctype="application/json" style="width: 100%; max-width: 800px;" >
        <div class="card mt-3 mb-3 border-secondary">
            <h3 class="card-header d-flex align-items-center">
                <a href="admin/games" class="btn btn-secondary float-end">Back to Games</a>
                <div class="flex-fill text-center">{{ @game_exists ? 'Edit' : 'Create' }} Game</div>
                <button type="submit" class="btn btn-primary">{{ @game_exists ? 'Update' : 'Create' }}</button>
            </h3>
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col">
                        <div>
                            <label>Name</label>
                            <input type="text" class="form-control" name="name" placeholder="Name">
                        </div>
                    </div>
                    <div class="col">
                        <div>
                            <label>Link</label>
                            <input type="text" class="form-control" name="link" placeholder="Link">
                        </div>
                    </div>
                </div>
                <div class="mb-2">
                    <label>Description</label>
                    <input type="text" class="form-control" name="description" placeholder="Description">
                </div>
                <div class="mb-1 p-2 card card-body">
                    <label>Image</label>
                    <input type="file" class="form-control" name="thumbnail" placeholder="Image">
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">{{ @game_exists ? 'Update' : 'Create' }}</button>
            </div>
        </div>
    </form>
</div>

