<style>
    #external_link_container .row:not(:first-child) {
        margin-top: 10px;
    }
</style>

    <div class="d-flex align-items-center justify-content-center">
    <form id="Game Add"  method="POST" enctype="application/json" style="width: 100%; max-width: 800px;" >
        <div class="card mt-3 mb-3 border-secondary">
            <h3 class="card-header d-flex align-items-center">
                <div class="flex-fill">Add or Edit A Game</div>
                <button type="submit" class="btn btn-primary submit_button">Submit</button>
            </h3>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        
                        <div class="mb-2">
                            <label>Game name</label>
                            <input type="text" class="form-control" name="name" placeholder="Name">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-2">
                            <label>Game Link</label>
                            
                            <input type="text" class="form-control" name="link" placeholder="Link">
                        </div>
                        </div>
                </div>
                
                    <div class="col">
                        <div class="mb-2">
                            <label>Game Description</label>
                            <input type="text" class="form-control" name="description" placeholder="Description">
                            
                        </div>
                    
                    <div class="row">
                       
                    
            </div>
        </div>
                    <div class="mb-1 p-2 card card-body">
                        <label>Game Image</label>
                        <input type="file" class="form-control" name="thumbnail" placeholder="Image">
                       
                        
                    </div>
                  
        </div>
      
        
       
        
       
        
        <div class="card-footer p-2 mb-2">
            <button type="submit" class="btn btn-primary submit_button">Submit</button>
        </div>
        </form>
    </div>

