<style>
    img {
        float: left !important;
        width:  100% !important;
        height: 200px !important;
        object-fit: contain !important;
    }
</style>

<div class="ui white segment">

    <h1>Choose a Game</h1>

    <div class="ui link cards">
        <repeat group="{{ @games }}" value="{{ @game }}">
            <a href="/mods?game_id={{ @game['uid'] }}" class="secondary card">
        		<div class="image">
        			<img src="{{ @game['thumbnail'] }}">
        		</div>
        		<div class="content">
        			<div class="header">{{ @game['name'] }}</div>
        		</div>
        	</a>

        </repeat>
    </div>
</div>
