<style>
    #external_link_container .row:not(:first-child) {
        margin-top: 10px;
    }
</style>

<div class="d-flex align-items-center justify-content-center mb-5">
    <form id="add_mod_form" class="ui large form" method="POST" enctype="multipart/form-data" style="width: 100%; max-width: 800px;">
        <div class="card mt-3 border-secondary">
            <h3 class="card-header d-flex align-items-center">
                <div class="flex-fill">Add New Mod</div>
                <button type="button" class="btn btn-primary submit_button">Submit</button>
            </h3>

            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="mb-1">
                            <label>Game</label>
                            <select class="form-control" name="game_id" required>
                                <option></option>
                                <repeat group="{{ @games }}" value="{{ @game }}">
                                    <option value="{{ @game['uid'] }}">{{ @game['name'] }}</option>
                                </repeat>
                            </select>
                        </div>
                        <div class="mb-1">
                            <label>Name</label>
                            <input type="text" class="form-control" name="name" maxlength="35" />
                        </div>
                        <div class="mb-1">
                            <label>Current Version</label>
                            <input type="text" class="form-control" name="current_version" maxlength="15" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-1">
                            <label>Changelogs (one per line)</label>
                            <textarea style="height: 171px" name="add_changelogs" class="form-control"
                                placeholder="Enter a change log, each line is a new entry for the selected version."></textarea>
                        </div>
                    </div>
                </div>
                <div class="mb-1">
                    <label>Description</label>
                    <input id="description" name="description" tabindex="-1" style="display: none" required></input>
                    <div id="editor" style="width: 100%"></div>
                    <script>
                        var editor = new Editor({
                            el: document.querySelector('#editor'),
                            height: '500px',
                            initialEditType: 'wysiwyg',
                            previewStyle: 'vertical'
                        });
                        editor.removeToolbarItem('image');
                    </script>
                </div>
                <div class="mb-1 card card-body">
                    <h5>
                        Upload the specified version of your mod
                    </h5>
                    <div class="ui left icon large input">
                        <input type="file" name="host_file" accept=".zip" />
                    </div>
                </div>
                <div class="mb-1 card card-body">
                    <h5>Attach related links to this mod. <button type="button" id="add_link" aria-label="add_link" class="btn btn-success btn-sm">Add Link</button></h5>
                    <div id="external_link_container" class="mb-2"></div>
                    
                </div>

                <div class="mb-1 card">
                    <div class="card-body p-2">
                        <button type="button" class="btn btn-primary submit_button">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(function() {

        $('.submit_button').on('click', function(e) {
            var md = editor.getMarkdown();
            console.log(md);

            if(md == "") return;

            $('#description').val(md);

            $('#add_mod_form').submit();
        });

        $('#add_link').on('click', function() {

            var cont = $('#external_link_container');

            if(cont.children().length >= 10) {
                alert('You can only add up to 10 links.');
                return;
            }

            $('#external_link_container').append(`
                <div class="row">
                    <div class="col">
                        <input type="text" name="link_file_description[]" maxlength="45" class="form-control" placeholder="Link Name" required/>
                    </div>
                    <div class="col">
                        <input type="url" name="link_file[]" class="form-control" placeholder="Link to External Site" required/>
                    </div>
                    <div class="col-2 card">
                        <div class="card-body p-1 text-center">
                            <input type="hidden" name="required[]" value="0" checked class="form-checkbox disable_cb_pair other"/>
                            <input type="checkbox" name="required[]" value="1" class="form-checkbox disable_cb_pair"/> Required
                        </div>
                    </div>
                    <div class="col">
                        <button type="button" onclick="$(this).parent().parent().remove()" class="btn btn-warning">Remove Link</button>
                    </div>
                </div>
            `);

            $(document).on('change', '.disable_cb_pair', function () {
                var p = $(this).parent();
                var other_cb = p.find('.disable_cb_pair.other');

                other_cb.prop('disabled', this.checked);
            });
        });

    });
</script>
