<check if="{{ @is_owner }}">

    <style>
        #external_link_container .row:not(:first-child) {
            margin-top: 10px;
        }
    </style>

    <form id="edit_description_form" class="ui large form" method="POST">
        <div class="modal fade" id="update_description_modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Mod Description</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <textarea id="edit_description" name="description" style="display: none;"
                            required>{{ @mod->Data->description }}</textarea>
                        <div id="editor" style="width: 100%"></div>
                        <script>
                            var editor = new Editor({
                                el: document.querySelector('#editor'),
                                height: '500px',
                                initialEditType: 'wysiwyg',
                                previewStyle: 'vertical',
                                initialValue: $('#edit_description').val()
                            });

                            editor.removeToolbarItem('image');
                        </script>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form id="edit_attached_links_form" class="ui large form" method="POST">
        <div class="modal fade" id="edit_attached_links_modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Mod Links</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="update_type" value="edit_attached_links" />
                        <div id="external_link_container"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" id="add_link" aria-label="add_link" class="btn btn-success">Add Link</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form id="add_changelog_form" class="ui large form" method="POST">
        <div class="modal fade" id="add_changelog_modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Add Changelog</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-1">
                            <label>Changelog Version</label>
                            <select class="form-control" name="changelog_version">
                                <repeat group="{{ @owner_data['all_versions'] }}" value="{{ @version }}">
                                    <option value="{{ @version }}" {{ @version == @mod->Data->current_version ? 'selected' : '' }}>{{ @version }}</option>
                                </repeat>
                            </select>
                        </div>
                        <div class="mb-1">
                            <label>Changelogs (one per line)</label>
                            <textarea rows="10" name="add_changelogs" class="form-control" required
                                placeholder="Enter a change log, each line is a new entry for the selected version."></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="modal fade" id="pending_rejected_files_modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Pending / Rejected Files</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <check if="{{ empty(@owner_data['pending_rejected_files']) }}">
                        <true>
                            <div class="alert alert-info mb-0">You have no pending or rejected files!</div>
                        </true>
                        <false>
                            <table class="table table-bordered table-sm table-striped text-center">
                                <thead>
                                    <tr>
                                        <th>File</file>
                                        <th>Version</th>
                                        <th>Status</th>
                                        <th>Reason</th>
                                        <th>Submitted</th>
                                        <th>Manage</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <repeat group="{{ @owner_data['pending_rejected_files'] }}" value="{{ @file }}">
                                        <tr>
                                            <td>{{ @file['filename'] }}</td>
                                            <td>{{ @file['version'] }}</td>
                                            <td>{{ @file['status_description'] }}</td>
                                            <td>{{ @file['rejection_reason'] ?: 'N/A' }}</td>
                                            <td>{{ date('Y-m-d h:i A', strtotime(@file['submitted_timestamp'])) }}</td>
                                            <td>
                                                <check if="{{ @active_user_is_admin && @file['status'] == 1 }}">
                                                    <a href="mods/approve_file?id={{ @file['uid'] }}" class="btn btn-success btn-sm">Approve</a>
                                                </check>
                                            </td>
                                        </tr>
                                    </repeat>
                                </tbody>
                            </table>
                        </false>
                    </check>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <form id="change_current_version_form" class="ui large form" method="POST">
        <div class="modal fade" id="change_current_version_modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Set Current Stable Version</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-1">
                            <label>Changelog Version</label>
                            <select class="form-control" name="change_version">
                                <repeat group="{{ @owner_data['all_versions'] }}" value="{{ @version }}">
                                    <option value="{{ @version }}" {{ @version == @mod->Data->current_version ? 'selected' : '' }}>{{ @version }}</option>
                                </repeat>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form id="add_new_version_form" class="ui large form" method="POST" enctype="multipart/form-data">
        <div class="modal fade" id="add_new_version_modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Set Current Stable Version</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="update_type" value="new_version_upload" />
                        <div class="mb-1">
                            <label>New Version</label>
                            <input type="text" name="changelog_version" class="form-control" maxlength="15" required placeholder="New Version">
                        </div>
                        <div class="mb-1 card card-body p-2">
                            <input type="file" name="host_file" accept=".zip" required />
                        </div>
                        <div class="mb-1 card">
                            <input type="hidden" name="set_current_version" value="0">
                            <div class="card-body p-2">
                                <input id="anvf_scv" type="checkbox" class="form-checkbox" name="set_current_version" value="1">
                                <label for="anvf_scv">Set this version as the mods Current Stable Version (After Approval)</label>
                            </div>
                        </div>
                        <div class="mb-1">
                            <label>Changelogs (one per line)</label>
                            <textarea rows="10" name="add_changelogs" class="form-control" required
                                placeholder="Enter a change log, each line is a new entry for the selected version."></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script>
        $(document).ready(function () {
                $('#edit_description_form').on('submit', function() {
                    $('#edit_description').val(editor.getMarkdown());
                });

                $('#add_link').on('click', function () {
                    var cont = $('#external_link_container');
                    if (cont.children().length >= 10) {
                        alert('You can only add up to 10 links.');
                        return;
                    }
                    generate_link_row('', '');
                });
                var existing_links = JSON.parse('{{ json_encode(array_values((array)@mod->Data->mod_links)) }}');
                $.each(existing_links, function (index, value) {
                    generate_link_row(value.href, value.description, value.required);
                });

                function generate_link_row(url, text, required) {
                    $('#external_link_container').append(`
                        <div class="row">
                            <div class="col">
                                <input type="text" name="link_file_description[]" maxlength="45" class="form-control" placeholder="Link Name" value="` + text + `" required/>
                            </div>
                            <div class="col">
                                <input type="url" name="link_file[]" class="form-control" placeholder="Link to External Site" value="` + url + `" required/>
                            </div>
                            <div class="col-2 card">
                                <div class="card-body p-1 text-center">
                                    <input type="hidden" name="required[]" value="0" ` + (required == "1" ? 'disabled' : '') + ` checked class="form-checkbox disable_cb_pair other"/>
                                    <input type="checkbox" name="required[]" value="1" ` + (required == "1" ? 'checked' : '') + ` class="form-checkbox disable_cb_pair"/> Required
                                </div>
                            </div>
                            <div class="col">
                                <button type="button" onclick="$(this).parent().parent().remove()" class="btn btn-warning">Remove Link</button>
                            </div>
                        </div>
                    `);
                }
                $('#view_pending_rejected_files_button').on('click', function () {
                    $('#pending_rejected_files_modal').modal('show');
                });
            });

            $(document).on('change', '.disable_cb_pair', function() {
                var p = $(this).parent();
                var other_cb = p.find('.disable_cb_pair.other');

                other_cb.prop('disabled', this.checked);
            });
    </script>



</check>

