<div class="card mt-3 border-secondary">
    <h3 class="card-header d-flex align-items-center">
        <div class="flex-fill">{{ @mod->Data->name }}</div>
        <div class="fs-5">Author: <a target="_blank" href="mods/user?user_id={{ @mod->Data->owner }}">{{ @mod->Data->owner_name }}</a></div>
    </h3>
    <div class="card-body align-middle">
        <div class="mb-2">
            <b>Current Version</b>: {{ !empty(@mod->Data->current_file) ? @mod->Data->current_file->version : 'Unknown' }}
        </div>
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="information-tab" data-bs-toggle="tab" data-bs-target="#information-tab-pane" type="button"
                    role="tab" aria-controls="information-tab-pane" aria-selected="true">Information</button>
            </li>
            <check if="{{ !empty(@mod->Data->current_file) || @is_owner }}">
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="downloads-tab" data-bs-toggle="tab" data-bs-target="#downloads-tab-pane" type="button"
                        role="tab" aria-controls="downloads-tab-pane" aria-selected="false">Downloads</button>
                </li>
            </check>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="changelogs-tab" data-bs-toggle="tab" data-bs-target="#changelogs-tab-pane" type="button"
                    role="tab" aria-controls="changelogs-tab-pane" aria-selected="false">Changelogs</button>
            </li>
        </ul>
        <div class="tab-content bordered p-3">
            <div class="tab-pane fade show active" id="information-tab-pane" role="tabpanel" aria-labelledby="information-tab" tabindex="0">
                <div class="row">
                    <div class="col">
                        <h3>
                            Description
                            <check if="{{ @is_owner }}">
                                <button data-bs-toggle="modal" data-bs-target="#update_description_modal"
                                    class="btn btn-secondary btn-sm">Edit</button>
                            </check>
                        </h3>
                        <div id="viewer"></div>
                    </div>
                    <check if="{{ !empty(@mod->Data->mod_links) || @is_owner }}">
                        <div class="col">
                            <h3>
                                Links
                                <check if="{{ @is_owner }}">
                                    <button data-bs-toggle="modal" data-bs-target="#edit_attached_links_modal"
                                        class="btn btn-secondary btn-sm">Edit</button>
                                </check>
                            </h3>
                            <check if="{{ empty(@mod->Data->mod_links) }}">
                                <true><div class="alert alert-warning mb-0">No assigned links</div></true>
                                <false>
                                    <ul>
                                        <repeat group="{{ @mod->Data->mod_links }}" value="{{ @nfo }}">
                                            <li>
                                                <check if="{{ @nfo->required }}"><span class="badge rounded-pill bg-danger">REQUIRED</span></check>
                                                <a target="_blank" href="{{ @nfo->href }}">{{ @nfo->description }}</a>
                                            </li>
                                        </repeat>
                                    </ul>
                                </false>
                            </check>
                        </div>
                    </check>
                </div>
            </div>
            <div class="tab-pane fade" id="downloads-tab-pane" role="tabpanel" aria-labelledby="downloads-tab" tabindex="0">
                <check if="{{ @is_owner }}">
                    <div class="ui primary segment">
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add_new_version_modal">New Version</button>
                        <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#change_current_version_modal">Change Current Version</button>
                        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#add_changelog_modal">Add Changelog</button>
                        <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#pending_rejected_files_modal">Pending / Rejected Files</button>
                    </div>
                </check>

                <div class="accordion mt-3" id="downloads-accordion">
                    <check if="{{ empty(@mod->Data->current_file) && empty(@mod->Data->other_files) }}">
                        <div class="alert alert-warning mb-0">
                            There aren't any downloadable files yet
                        </div>
                    </check>
                    <check if="{{ !empty(@mod->Data->current_file)}}">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#v-{{ @mod->Data->current_file->version }}"
                                    aria-expanded="true" aria-controls="collapseOne">
                                    Current Version - {{ @mod->Data->current_file->version }}
                                </button>
                            </h2>
                            <div id="v-{{ @mod->Data->current_file->version }}" class="accordion-collapse collapse show p-3" data-bs-parent="#downloads-accordion">
                                <a href="mods/download?file_id={{ @mod->Data->current_file->uid }}" class="btn btn-success">Download Latest
                                    Version</a>
                                <check if="{{ !empty(@mod->Data->changelogs->{@mod->Data->current_file->version}) }}">
                                    <ul class="mb-0">
                                        <repeat group="{{ @mod->Data->changelogs->{@mod->Data->current_file->version} }}" value="{{ @log }}">
                                            <li>{{ @log }}</li>
                                        </repeat>
                                    </ul>
                                </check>
                            </div>
                        </div>
                    </check>
                    <check if="{{ !empty(@mod->Data->other_files) }}">
                        <repeat group="{{ @mod->Data->other_files }}" value="{{ @file }}">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#v-{{ @file->version }}" aria-expanded="true">
                                        Other Version - {{ @file->version }}
                                    </button>
                                </h2>
                                <div id="v-{{ @file->version }}" class="accordion-collapse collapse p-3"
                                    data-bs-parent="#downloads-accordion">
                                    <a href="mods/download?file_id={{ @file->uid }}" class="btn btn-success">Download Other Version</a>
                                    <check if="{{ !empty(@mod->Data->changelogs->{@file->version}) }}">
                                        <ul class="mb-0">
                                            <repeat group="{{ @mod->Data->changelogs->{@file->version} }}" value="{{ @log }}">
                                                <li>{{ @log }}</li>
                                            </repeat>
                                        </ul>
                                    </check>
                                </div>
                            </div>
                        </repeat>
                    </check>
                </div>
            </div>
            <div class="tab-pane fade" id="changelogs-tab-pane" role="tabpanel" aria-labelledby="changelogs-tab" tabindex="0">
                <div class="accordion" id="changelogs-accordion">
                    <check if="{{ !empty(@mod->Data->changelogs) }}">
                        <true>
                            <repeat group="{{ @mod->Data->changelogs }}" key="{{ @version }}" value="{{ @logs }}">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#v-{{ @version }}"
                                            aria-expanded="true" aria-controls="collapseOne">
                                            Version {{ @version . (@version == @mod->Data->current_file->version ? ' (Current)' : '') }}
                                        </button>
                                    </h2>
                                    <div id="v-{{ @version }}" class="accordion-collapse collapse {{ @version == @mod->Data->current_file->version ? 'show' : '' }}" data-bs-parent="#changelogs-accordion">
                                        <div class="accordion-body">
                                            <ul class="mb-0">
                                                <repeat group="{{ @logs }}" value="{{ @log }}">
                                                    <li>{{ @log }}</li>
                                                </repeat>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </repeat>
                        </true>
                        <false>
                            <div class="alert alert-warning mb-0">No Changelogs</div>
                        </false>
                    </check>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {

        var viewer = $('#viewer');
        viewer.html(editor.getHTML());

        //dynamically add table styling from generated markdown html
        viewer.find('table').addClass('ui striped compact celled sortable inverted table');
        viewer.find('a').each(function(index, value) {

            const tmp = document.createElement('a');
            tmp.href = value.href;

            if(tmp.host !== window.location.host) {
                $(this).attr('target', '_blank');
            }

        });
        viewer.find(':header').each(function(index, value) {

            var text = this.innerText;

            var slug = text.toLowerCase()
                           .trim()
                           .replace(/[^\w\s-]/g, '')
                           .replace(/[\s_-]+/g, '-')
                           .replace(/^-+|-+$/g, '');

            $(this).attr('id', slug);

        });

    });
</script>
