<check if="{{ @active_user->IsUser(@user->uid) }}">
    <div class="card mt-3 border-secondary">
        <h3 class="card-header">Manage Your Mods</h3>
        <div class="card-body">
            <a href="mods/add" type="button" class="btn btn-primary">Add New Mod</a>
        </div>
    </div>
</check>

<set user_mods="{{ @user->GetMods() }}"/>
<check if="{{ !empty(@user_mods) }}">
    <true>
        <repeat group="{{ @user_mods }}" key="{{ @game_id }}" value="{{ @game_data }}">
            <div class="card mt-3 border-secondary">
                <h3 class="card-header">{{ @game_data->game_name }}</h3>
                <div class="card-body">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <repeat group="{{ @game_data->mods }}" key="{{ @mod_id }}" value="{{ @mod }}">
                            <a href="mods/details/{{ @mod_id }}" class="col text-decoration-none">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ @mod->name }}</h5>
                                        <p class="card-text">Author: {{ @user->Data->display_name }}</p>
                                    </div>
                                </div>
                            </a>
                        </repeat>
                    </div>
                </div>
            </div>
        </repeat>
    </true>
    <false>
        <div class="alert alert-primary mt-3">
            This user has not created any mods
        </div>
    </false>
</check>
