<div class="d-flex align-items-center justify-content-center">
    <form method="POST" style="width: 100%; max-width: 400px;">
        <div class="mb-1 form-control-lg">
            <label class="form-label">Dislay Name</label>
            <input type="text" class="form-control" name="display_name" placeholder="Display Name">
        </div>
        <div class="mb-1 form-control-lg">
            <label class="form-label">E-Mail Address</label>
            <input type="text" class="form-control" name="email" placeholder="Display Name">
        </div>
        <div class="mb-1 form-control-lg">
            <label for="loginInputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <div class="mb-1 form-control-lg">
            <label for="loginInputPassword" class="form-label">Verify Password</label>
            <input type="password" class="form-control" name="password_verify" placeholder="Verify Password">
        </div>
        <div class="mb-1 form-control-lg">
            <button type="submit" class="btn btn-primary">Register</button>
            <a href="auth" class="btn btn-secondary">Login</a>
        </div>
    </form>
</div>
