<style type="text/css">
    .column {
        max-width: 600px;
    }
</style>

<div id="register_container">
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <form class="ui large form" method="POST">
                <div class="ui stacked primary segment">

                    <div class="field">
                        <div class="ui left icon large input">
                            <i aria-hidden="true" class="user icon"></i>
                            <input type="text" name="display_name" placeholder="Display Name">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon large input">
                            <i aria-hidden="true" class="at icon"></i>
                            <input type="email" name="email" placeholder="E-mail address">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon large input">
                            <i aria-hidden="true" class="lock icon"></i>
                            <input type="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon large input">
                            <i aria-hidden="true" class="key icon"></i>
                            <input type="password" name="password_verify" placeholder="Verify Password">
                        </div>
                    </div>
                    <button type="submit" class="ui fluid large teal submit button">Register</button>
                </div>

                <div class="ui error message"></div>
          </form>
            <div class="ui message">
                Already have an account? <a href="auth">Log In</a>
            </div>
        </div>
    </div>
</div>
