<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ @websiteName }}</title>

		<base href="{{ @basePath }}">

		<!-- <link rel="icon" href="img/favicon.ico"> -->
		<!-- CSS/JS FILES -->
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
			integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
			crossorigin="anonymous"></script>

		<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
		<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />

		<link rel="stylesheet" href="assets/css/theme_default.css" />

		<link rel="stylesheet" href="assets/css/tabulator_bootstrap5.min.css" />

		<script src="assets/js/tabulator.min.js"></script>

		<script src="assets/js/custom.js"></script>

		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.address/1.6/jquery.address.min.js" integrity="sha512-Fhm8fcAQhENO1HmU1JjbnNm6ReszFIiJvkHdnuGZBznaaM6vakH4YEPO7v8M3PbGR03R/dur0QP5vZ5s4YaN7w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->

		<script>
			const Editor = toastui.Editor;
		</script>

	</head>
	<body style="background-color: #f0f1f3">
		<nav id="site_main_menu" class="navbar navbar-expand-lg bg-dark border-bottom border-body fixed-top" data-bs-theme="dark">
			<div class="container">
				<a class="navbar-brand" href="">{{ @websiteName }} <i class="fa-solid fa-vault"></i></a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
					aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarText">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						{{ (require('app/application/menu.php')) == -1 ? '' : '' }}
					</ul>
					<check if="{{ @active_user->uid != null }}">
						<true>
							<div class="nav-item dropdown">
								<button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
									{{ @active_user->Data->display_name }}
								</button>
								<ul class="dropdown-menu dropdown-menu-dark">
									<check if="{{ @active_user->IsAdmin == true }}">
										<li><a class="dropdown-item" href="admin">Admin Panel</a></li>
									</check>
									<li><a class="dropdown-item" href="mods/user/{{ @active_user->uid }}">My Mods</a></li>
									<li><a class="dropdown-item" href="auth/logout">Log Out</a></li>
								</ul>
							</div>
						</true>
						<false>
							<ul class="navbar-nav">
								<li class="nav-item">
									<a class="nav-link" aria-current="page" href="auth">
										Login / Register
									</a>
								</li>
							</ul>
						</false>
					</check>
				</div>
			</div>
		</nav>
		<div id="site_main_container" class="container">
			<check if="{{ isset(@site_error) }}">
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<h5 class="alert-heading mb-0">{{ @site_error }}</h5>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			</check>
			<include href="{{ @content }}" />
		</div>
		<div id="footer_spacer"></div>
		<footer id="site_footer" class="py-2 bg-secondary w-100 position-fixed bottom-0 start-50 translate-middle-x">
			<div class="container">
				<div class="float-end d-flex">
					<a href="discover/terms" class="text-light me-3 text-decoration-none">Terms of Service</a>
					<a href="discover/privacy" class="text-light text-decoration-none">Privacy Policy</a>
				</div>
			</div>
		</footer>
	</body>

</html>

<script>
	function adjustContainerHeight() {
		$('#site_main_container').css('margin-top', $('#site_main_menu').outerHeight() + 15);
		$('#footer_spacer').css('height', $('#site_footer').outerHeight());
	}

	$(document).ready(adjustContainerHeight);
	$(window).resize(adjustContainerHeight);
</script>
